*.bak
*.cfg
*.pyc
*.log
*.dt1
*.dt2
**/map_tiles
**/ewta_venv
**/venv_test
**/venv_ewta
**/venv
**/Include
**/logs
**/Scripts
**/Lib
**/.pytest_cache
**/__pycache__
**/src/__pycache__/
src/queue_files/*
!src/queue_files/.gitkeep
dted/*
!dted/.gitkeep
logs_archived/*
!logs_archived/.gitkeep