certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
CTkMessagebox==2.7
customtkinter==5.2.2
darkdetect==0.8.0
decorator==5.1.1
future==1.0.0
geocoder==1.38.1
h3==3.7.7
haversine==2.8.1
idna==3.7
Jinja2==3.1.4
MarkupSafe==2.1.5
mgrs==1.5.0
numpy==2.0.0
packaging==24.1
pillow==10.4.0
pycparser==2.22
pyperclip==1.9.0
pyserial==3.5
pywin32==306
ratelim==0.1.6
requests==2.32.3
setuptools==70.3.0
shapely==2.0.4
six==1.16.0
timezonefinder==6.5.2
tkintermapview==1.29
urllib3==2.2.2
winsdk==1.0.0b10
